# Test Environment Configuration
PORT=3002
DATABASE_URL="postgresql://username:password@localhost:5432/database_name_test"
NODE_ENV=test
JWT_SECRET=test_access_secret
JWT_REFRESH_SECRET=test_refresh_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_ROUNDS=1